<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Jokes Website</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="mains">
        <p><h1>Just a Joke</h1></p>
    <% if(locals.joke) {%>
       <p> <pre><%= joke %></pre></p>
        <% } else {%>
            <p> <%= setup %> <br> <%= delivery %> </p>
 <% } %></div>
</body>
</html>