html, body {
    height: 100%;      
}
body {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #f5f5f5; /* light text for contrast */
    background: url('../images/4113034.jpg') ;
    background-size: cover;
  }

  .mains {
    max-width: auto;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.75); /* semi-transparent overlay for readability */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  }