<%- include("partials/header.ejs") %>

<%if(locals.data){%>
<%for(var i=0;i<data.length;i++){%>
    <h3> <%=i+1 %></h3>
    <p> <%=data[i] %></p>
<%}%>
<% }else{%>
    <h3>Nothing to view right now!</h3>
<% }%>
